<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OpenCart App Regression Suite" verbose="4" thread-count="4" parallel="tests">

<listeners>
		<listener
			class-name="com.qa.opencart.Listeners.ExtentReportListener" />
	
	<listener
			class-name="com.qa.opencart.Listeners.TestAllureListener" />

<listener
			class-name="com.qa.opencart.Listeners.AnnotationTransformer" />
</listeners>
<test name="Login page test">
		<classes>
			<class name="com.qa.opencart.test.LoginPageTest" />
		</classes>
	</test>

	<test name="Accounts page test">
	<classes>
			<class name="com.qa.opencart.test.AccountsPageTest" />
		</classes>
	</test>

<!-- 
	<test name="productInfoPage test">
	<classes>
			<class name="com.qa.opencart.test.ProductInfoPageTest" />
		</classes>
	</test>
	-->

<!--
     <test name="Register Page test">
		

		<classes>
			<class name="com.qa.opencart.test.RegisterPageTest" />
		</classes>
	</test>
!-->

</suite>